@charset "UTF-8";
* {
  box-sizing: border-box;
}

html {
  font-size: 100%;
}

body {
  font-family: "Noto Serif JP", serif;
  color: rgb(53, 56, 58);
  background-color: #EFEDED;
}

img {
  max-width: 100%;
  vertical-align: bottom;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1000px;
  margin: 100px auto;
  height: 698px;
  position: relative;
}
.container .text {
  background-color: #fff;
  max-width: 680px;
  padding: 90px 160px 90px 80px;
  position: absolute;
  left: 0;
}
.container .text h1 {
  display: inline-block;
  font-size: 1.875rem;
  font-weight: 400;
  line-height: 38px;
  border-bottom: 1px solid #000;
}
.container .text .text1 {
  font-size: 2.3rem;
  line-height: 54px;
  margin-top: 40px;
  max-width: 680px;
}
.container .text p {
  font-size: 1.05rem;
  line-height: 29px;
  margin-top: 40px;
}
.container .text button {
  margin-top: 40px;
  padding: 15px 55px;
  border: 1px solid #000;
  border-radius: 50px;
  transition: all 0.4s;
}
.container .text button:hover {
  background-color: #e0e0e0;
}
.container img {
  width: 400px;
  position: absolute;
  top: 50%;
  right: 2%;
  transform: translateY(-50%);
}

/* レスポンシブ・ブレークポイント1001px
------------------------------- */
@media screen and (max-width: 1000px) {
  .container {
    margin: 0;
    background-color: #fff;
    position: static;
    height: auto;
  }
  .container .text {
    max-width: 100%;
    padding: 70px 20px 60px;
  }
  .container img {
    width: 100%;
    position: static; /* ここで position: static; を指定する */
    transform: translateY(0%);
  }
  .container .text {
    width: 100%;
    position: static;
  }
  .container .text .text1 {
    height: auto;
  }
}
/*-------------------------------------------

-------------------------------------------*/